<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Magellano - NFT Marketplace Website Template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>OpenStory - NFT Marketplace Website Template</title>

    <!-- FAVICONS-->
    <link rel="shortcut icon" href="img/logotittle.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="css/author.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>

    <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
    
    <div th:insert="fragment/header-author :: navbarAuthor (aktif='account-settings')"/>
    <!-- /header -->

    <main>
        <div class="hero_single inner_pages author_page jarallax" data-jarallax>
            <img class="jarallax-img" src="img/contacts-bg.jpg" alt="">
            <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.4)">
            </div>
            <div class="wave hero"></div>
        </div>
        <!-- /hero_single -->

        <div class="container margin_30_40">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main_profile edit_section">
                        <div class="author">
                            <div class="author_thumb veryfied">
                                <i class="bi bi-check"></i>
                                <figure>
                                    <img src="img/avatar-placeholder.png" data-src="img/avatar1.jpg" alt="" class="lazy" width="100" height="100">
                                </figure>
                            </div>
                        </div>
                        <h1>@George_lucas</h1>
                        <ul>
                            <li><a href="author-edit-profile"><i class="bi bi-person"></i>Edit profile</a></li>
                            <li><a href="upload-artwork"><i class="bi bi-file-earmark-arrow-up"></i>Upload Artwork</a></li>
                            <li><a href="account-settings" class="active"><i class="bi bi-gear"></i>Account settings</a></li>
                            <li><a href="#0"><i class="bi bi-box-arrow-right"></i>Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 ps-lg-5">
                    <div class="main_title version_2">
                        <span><em></em></span>
                        <h2>Account Settings</h2>
                    </div>

                    <div class="row">
                    	<div class="col-md-6">
                             <div class="form-group">
                                <label>Change Password</label>
                                <input type="text" class="form-control" placeholder="e.g. Abstract modern art">
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                <label>Repeat Password</label>
                                <input type="text" class="form-control" placeholder="e.g. Abstract modern art">
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    <hr class="mt-3 mb-5">
                    <h6>Notifications</h6>
                    <div class="row">
                    	 <div class="col-md-6">
                             <div class="form-group switch_wrapper">
                                <label>Bid Activity</label>
                                <p class="mb-0">Ea quo utroque forensibus eloquentiam</p>
                                <div class="form-check form-switch">
    		                      <input class="form-check-input" type="checkbox" role="switch" checked="checked">
    		                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group switch_wrapper">
                                <label>Item Sold</label>
                                <p class="mb-0">Ea quo utroque forensibus eloquentiam</p>
                                <div class="form-check form-switch">
    		                      <input class="form-check-input" type="checkbox" role="switch">
    		                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group switch_wrapper">
                                <label>Added to a collection</label>
                                <p class="mb-0">Ea quo utroque forensibus eloquentiam</p>
                                <div class="form-check form-switch">
    		                      <input class="form-check-input" type="checkbox" role="switch">
    		                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group switch_wrapper">
                                <label>Review</label>
                                <p class="mb-0">Ea quo utroque forensibus eloquentiam</p>
                                <div class="form-check form-switch">
    		                      <input class="form-check-input" type="checkbox" role="switch">
    		                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->

                    
                
                    <p class="text-end mt-4"><a href="#0" class="btn_1">Save changes</a></p>
                    
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
    <!-- /main -->

    <div th:insert="fragment/footer :: footer (aktif='account-settings')"/>
    <!--/footer-->

    <div id="toTop"></div><!-- Back to top button -->

    <!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/common_func.js"></script>

</body>
</html>